<div class="content-block table-block {{ css_class }}">
    {% if title %}<h3 class="block-title">{{ title }}</h3>{% endif %}
    <div class="block-table-wrapper">
        <table class="block-table">
            {% if extra_data.headers %}
            <thead>
                <tr>
                    {% for header in extra_data.headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% endif %}
            <tbody>
                {% for row in extra_data.rows %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
